RESEND_API_KEY=re_xxxxxxxx
RESEND_FROM=Musikkorps Sueggerath <onboarding@resend.dev>
APP_BASE_URL=https://musikkorpssueggerath.vercel.app
FIREBASE_API_KEY=AIzaSyBJZdRRa6bhQkdJ5e-rCg1Frb1UgOn7bdk
FIREBASE_PROJECT_ID=musikkorpsminus
