@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../../../assets/styles/variables.scss';

.navbar {
    background-color: $main-color;
    color: white;
}

.navbar-toggler {
    color: white;
}

.navbar-brand {
    color: white;
}

button {
    font-size: larger;
}

ul {
    color: white;
}

li {
    padding: 16px;
}

.nav-button {
    background-color: red;
    color: white;
    box-shadow: none;
}
