.card {
    padding: 16px;
    margin-top: 16px;
}

p {
    text-align: center;
}

.buttons {
    text-align: center;
}

button {
    margin-left: 8px;
}

.name {
    font-size: larger;
}

.time {
    font-style: italic;
}

.eventCancelled {
    color: red;
}