<div class="card">
    <div *ngIf="userModel.admin == 1" style="text-align: start;">
        <a class="navbar-brand" [routerLink]="['../event-details', eventID]">☰</a>
    </div>
    <p class="name"><b>{{event.name}}</b></p>
    <div *ngIf="event.eventCancelled">
        <p class="eventCancelled">Abgesagt</p>
    </div>
    <div *ngIf="!event.eventCancelled">
        <p class="time">{{event.day}}.{{event.month}}.{{event.year}} {{event.time}}</p>
    </div>
    <div class="buttons">
        <div *ngIf="containsInPromise()">
            <button class="btn btn-primary" id="cmd-cancel" style="background-color: red;" (click)="cancel()">Absagen</button>
            <button class="btn btn-primary" id="cmd-cancel" style="background-color: orange;" (click)="maby()">?</button>
            <button class="btn btn-primary" id="cmd-promise" style="background-color: gray">Zugesagt</button>
        </div>
        <div *ngIf="containsInCancelled()">
            <button class="btn btn-primary" id="cmd-cancel" style="background-color: gray;">Abgesagt</button>
            <button class="btn btn-primary" id="cmd-cancel" style="background-color: red;" (click)="maby()">?</button>
            <button class="btn btn-primary" id="cmd-promise" style="background-color: green;" (click)="promise()">Zusagen</button>
        </div>
        <div *ngIf="containsInMaby()">
            <button class="btn btn-primary" id="cmd-cancel" style="background-color: red;" (click)="cancel()">Absagen</button>
            <button class="btn btn-primary" id="cmd-cancel" style="background-color: gray;">?</button>
            <button class="btn btn-primary" id="cmd-promise" style="background-color: green;" (click)="promise()">Zusagen</button>
        </div>
        <div *ngIf="!containsInPromise() && !containsInCancelled() && !containsInMaby()">
            <button class="btn btn-primary" id="cmd-cancel" style="background-color: red;" (click)="cancel()">Absagen</button>
            <button class="btn btn-primary" id="cmd-cancel" style="background-color: orange;" (click)="maby()">?</button>
            <button class="btn btn-primary" id="cmd-promise" style="background-color: green;" (click)="promise()">Zusagen</button>
        </div>
    </div>
</div>