@import '../../../assets/styles/variables.scss';

main {
    text-align: center;
}

.container {
    background-color: $main-color;
    padding: 8px;
    color: white;
}

.navbar-brand {
    color: white;
}

form {
    margin-top: 32px;
    text-align: center;
    align-items: center;
    margin-bottom: 32px;
}

button {
    margin-top: 32px;
    padding-left: 82px;
    padding-right: 82px;
}

input {
    padding-left: 8px;
    padding-right: 8px;
}

.card {
    margin-top: 32px;
    padding: 16px;
}

p {
    font-style: italic;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 32px;
}