<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" (click)="onBackPressed()">
        <img src="../../../assets/arrow-left-custom.png" alt="Bootstrap" width="30" height="24">
        Organisation
      </a>
    </div>
</nav>

<main>
  <button class="btn btn-primary">Comming Soon :-]</button>
  <button class="btn btn-primary" (click)="openCreateEventPage()">Termin hinzufügen</button>
  <button class="btn btn-primary">Comming Soon :-]</button>
</main>

